@{
    ViewData["Title"] = "Home Page";
    Layout = null;

}


<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <h4 class="display-4">Welcome</h4>
    <a asp-action="GetHealth" asp-controller="Words">Постучать в яндекс</a> |
    <a asp-action="GetTranslation" asp-controller="Words">Получить перевод</a>
</div>